.gb-tab {
	border-Right: none;
	border-bottom: 4px solid #fff;
	border-top: none;
	border-left: none;
	color: #666;
	cursor: pointer;
	margin: 0 10px;
	padding: 15px 0;
	background-color: transparent;
};
